.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: calc(4rem + 0.2vw);
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
  margin: 30px 0;
}

img {
  width: calc(60% + 0.3vw);
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

#button {
  text-align: center;
  margin: 6% 5% 1%;
}

.button {
  padding: 13px 18px;
  font-size: calc(14px + 0.2vw);
  border-radius: 7px;
  border: 2px solid #fff;
  background-color: #0077ff;
  color: #fff;
  font-weight: 600;
}
